.border-bottom-0 {
    border-bottom: 0 !important;
}


.hr-blue {
    color: #004080;
    background-color: #004080;
    margin: 0 0 1rem 0;
    opacity: 1;
}

#order-item-div .fa-times {
    color: #dc3545;
    cursor: pointer;
}

#order-item-div .fa-times:hover {
    color: #b02a37;
}

.font-size-12 {
    font-size: 1.2rem;
}

.page-title {
    font-size: 1.2rem;
}

.font-size-inherit {
    font-size: inherit;
}

.back-button {
    background-color: #999999;
    border-color: #999999;
}

.background-plan {
    background-color: #e1f0ff;
}

.background-additional {
    background-color: #ffe2e5;
}

.text-plan {
    color: #0073e6;
}

.text-additional {
    color: #f64e60;
}

.background-blue {
    background-color: #cce6ff;
}