<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Dashboard - NiceAdmin Bootstrap Template</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/favicon.png" rel="icon">
  <link href="../static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.snow.css" rel="stylesheet">
  <link href="../static/vendor/quill/quill.bubble.css" rel="stylesheet">
  <link href="../static/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="../static/vendor/simple-datatables/style.css" rel="stylesheet">
  <!-- map -->
  <!-- 引入 Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />

  <!-- 引入 Leaflet JavaScript -->
  <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>



  <!-- Template Main CSS File -->
  <link href="../static/css/style.css" rel="stylesheet">

  <style>
      form{
        width: 100%; /* 使用百分比设置宽度 */
        max-width: 80em; /* 设置最大宽度，以防止过度拉伸 */
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 20px; /* 添加内边距，以提高内容的可读性 */
        box-sizing: border-box; /* 防止添加内边距影响元素的实际宽度 */
            }
      form>.info{
        text-align: left;
        display: none;
      }
      form>select[data-chose='zh-tw']~.zh-tw-info{
        display: block;
        padding: 1em;
      }
      form>select[data-chose='zh-cn']~.zh-cn-info{
        display: block;
        padding: 1em;
      }
      form>select[data-chose='en']~.en-info{
        display: block;
        padding: 1em;
      }
      footer{text-align: center;}

      .card-container {
        height: 400px;    
      }
    

      
      
     
    </style>

  <!-- =======================================================
  * Template Name: NiceAdmin
  * Updated: Sep 18 2023 with Bootstrap v5.3.2
  * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href="index.html" class="logo d-flex align-items-center">
        <!-- <img src="../static/img/logo.png" alt=""> -->
        <span class="d-none d-lg-block">車隊管理</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header><!-- End Header -->

  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="index.html">
          <i class="bi bi-grid"></i>
          <span>首頁</span>
        </a>
      </li>

      <!-- <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide"></i><span>車隊服務</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="service_vehicle_tracking.html">
              <i class="bi bi-circle"></i><span>即時車輛追蹤</span>
            </a>
          </li>
          <li>
            <a href="service_trip.html">
              <i class="bi bi-circle"></i><span>執行旅程清單</span>
            </a>
          </li>
          <li>
            <a href="service_trip_history.html">
              <i class="bi bi-circle"></i><span>歷史旅程清單</span>
            </a>
          </li>
          <li>
            <a href="service_vehicle_dispatch.html">
              <i class="bi bi-circle"></i><span>車輛調度</span>
            </a>
          </li>
          <li>
            <a href="service_vehicle_recycling.html">
              <i class="bi bi-circle"></i><span>車輛回收</span>
            </a>
          </li>
          
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text"></i><span>車輛管理</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="management_vehicle_information.html">
              <i class="bi bi-circle"></i><span>車輛資訊</span>
            </a>
          </li>
          <li>
            <a href="management_device_management.html">
              <i class="bi bi-circle"></i><span>設備管理</span>
            </a>
          </li>
          <li>
            <a href="management_energym_anagement.html">
              <i class="bi bi-circle"></i><span>能源管理</span>
            </a>
          </li>
          <li>
            <a href="management_vehicle_inspection.html">
              <i class="bi bi-circle"></i><span>車輛檢查</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>數據分析</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="analysis_performance_indicators.html">
              <i class="bi bi-circle"></i><span>績效指標</span>
            </a>
          </li>
          <li>
            <a href="analysis_cost_report.html">
              <i class="bi bi-circle"></i><span>成本報告</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-bar-chart"></i><span>車隊資訊</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="information_instructions.html">
              <i class="bi bi-circle"></i><span>使用說明</span>
            </a>
          </li>
          <li>
            <a href="information_user_information.html">
              <i class="bi bi-circle"></i><span>使用者資訊</span>
            </a>
          </li>
          <li>
            <a href="information_site_information.html">
              <i class="bi bi-circle"></i><span>站點資訊</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-gem"></i><span>異常處理</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="exception_handling.html">
              <i class="bi bi-circle"></i><span>異常處理</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>註冊</span>
        </a>
      </li> 
      

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>登入</span>
        </a>
      </li> -->

    </ul>

  </aside><!-- End Sidebar-->

  <main id="main" class="main">

    <div class="pagetitle">
      <h1>首頁</h1>
      <nav>
        <!-- <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol> -->
      </nav>
    </div><!-- End Page Title -->

    <section class="section dashboard">
      <div class="row">

        <!-- Left side columns -->
        <div class="col-lg-12">
          <div class="row">

            <!-- mileage Card -->
            <div class="col-lg-3 col-md-4">
              <div class="card info-card sales-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">車輛行駛總里程數 <span>| 今天</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-taxi-front-fill"></i>
                    </div>
                    <div class="ps-3">
                      <h6>25.6km</h6>
                      <!-- <span class="text-success small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->
                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sales Card -->

            <!-- power Card -->
            <div class="col-lg-3 col-md-4">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">電力消耗 <span>| 今天</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-ev-front"></i>
                    </div>
                    <div class="ps-3">
                      <h6>2040kWh</h6>
                      <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End power Card -->

            <!-- Sale Card -->
            <div class="col-lg-3 col-md-4">
              <div class="card info-card revenue-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">營運收入 <span>| 今天</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-currency-dollar"></i>
                    </div>
                    <div class="ps-3">
                      <h6>$3,264</h6>
                      <!-- <span class="text-success small pt-1 fw-bold">8%</span> <span class="text-muted small pt-2 ps-1">increase</span> -->

                    </div>
                  </div>
                </div>

              </div>
            </div><!-- End Sale Card -->

            <!-- Customers Card -->
            <div class="col-lg-3 col-md-4">

              <div class="card info-card customers-card">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">使用者數量 <span>| 今天</span></h5>

                  <div class="d-flex align-items-center">
                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
                      <i class="bi bi-people"></i>
                    </div>
                    <div class="ps-3">
                      <h6>15</h6>
                      <!-- <span class="text-danger small pt-1 fw-bold">12%</span> <span class="text-muted small pt-2 ps-1">decrease</span> -->

                    </div>
                  </div>

                </div>
              </div>

            </div><!-- End Customers Card -->
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" >
                <div class="card-body">
                  <div class="card-container">
                    <h5 class="card-title">車輛狀態使用圖表</h5>
      
                    <!-- Donut Chart -->
                    <div id="donutChart"></div>
      
                    <script>
                      document.addEventListener("DOMContentLoaded", () => {
                        new ApexCharts(document.querySelector("#donutChart"), {
                          series: [44, 55, 13, 3],
                          chart: {
                            height: 350,
                            type: 'donut',
                            toolbar: {
                              show: false
                            }
                          },
                          stroke: {
                              width: 0,
                            },
                            plotOptions: {
                              pie: {
                                donut: {
                                  labels: {
                                    show: true,
                                    position: 'center',
                                    total: {
                                      showAlways: true,
                                      show: true
                                    }
                                  }
                                }
                              }
                            },
                          labels:['閒置中', '使用中', '回收中', '維修中'],
                          

                          
                        //   series: [44, 55, 41, 17, 15],
                        //   chart: {
                        //   width: 380,
                        //   type: 'donut',
                        //   dropShadow: {
                        //     enabled: true,
                        //     color: '#111',
                        //     top: -1,
                        //     left: 3,
                        //     blur: 3,
                        //     opacity: 0.8
                        //   }
                        // },
                        // stroke: {
                        //   width: 0,
                        // },
                        // plotOptions: {
                        //   pie: {
                        //     donut: {
                        //       labels: {
                        //         show: true,
                        //         total: {
                        //           showAlways: true,
                        //           show: true
                        //         }
                        //       }
                        //     }
                        //   }
                        // },
                        // labels: ["Comedy", "Action", "SciFi", "Drama", "Horror"],
                        // dataLabels: {
                        //   dropShadow: {
                        //     blur: 3,
                        //     opacity: 0.8
                        //   }
                        // },
                        // fill: {
                        // type: 'pattern',
                        //   opacity: 1,
                        //   pattern: {
                        //     enabled: true,
                        //     style: ['verticalLines', 'squares', 'horizontalLines', 'circles','slantedLines'],
                        //   },
                        // },
                        // states: {
                        //   hover: {
                        //     filter: 'none'
                        //   }
                        // },
                        // theme: {
                        //   palette: 'palette2'
                        // },
                        // title: {
                        //   text: "Favourite Movie Type"
                        // },
                        // responsive: [{
                        //   breakpoint: 480,
                        //   options: {
                        //     chart: {
                        //       width: 200
                        //     },
                        //     legend: {
                        //       position: 'bottom'
                        //     }
                        //   }
                        // }]
                        

                        }).render();
                      });
                      
                    </script>
                    <!-- End Donut Chart -->
                  </div>
                </div>
              </div>
            </div>          

            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <div class="card-container">
                    <h5 class="card-title">代步車里程數</h5>
                    
                      <!-- Bar Chart -->
                      <canvas id="barChart" style="max-height: 500px;"></canvas>
                    
                    <script>
                        document.addEventListener("DOMContentLoaded", () => {
                          new Chart(document.querySelector('#barChart'), {
                            type: 'bar',
                            data: {
                              labels: ['1', '2', '3'], // 代步車的編號
                              datasets: [{
                              label: '里程數 (km)',
                              data: [9.5, 9.7, 12.8],
                              backgroundColor: [
                                'rgb(75, 192, 192)',
                                'rgb(124, 12, 192)',
                                'rgb(75, 192, 12)'
                              ],
                              borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)'
                              ],
                              borderWidth: 1
                            }]
                          },
                            options: {
                              scales: {
                                x: {
                                  title: {
                                    display: true,
                                    text: '代步車編號'
                                  }
                                },
                                y: {
                                  title: {
                                    display: true,
                                    text: '里程數 (km)'
                                  }
                                }
                              }
                            }
                          });
                        });

                      // document.addEventListener("DOMContentLoaded", () => {
                      //   new Chart(document.querySelector('#barChart'), {
                      //     type: 'bar',
                      //     data: {
                      //       labels: ['January', 'February', 'March'],
                      //       datasets: [{
                      //         label: 'Bar Chart',
                      //         data: [65, 59, 80],
                      //         backgroundColor: [
                      //           'rgba(255, 99, 132, 0.2)',
                      //           'rgba(255, 159, 64, 0.2)',
                      //           'rgba(255, 205, 86, 0.2)'
                      //         ],
                      //         borderColor: [
                      //           'rgb(255, 99, 132)',
                      //           'rgb(255, 159, 64)',
                      //           'rgb(255, 205, 86)'
                      //         ],
                      //         borderWidth: 1
                      //       }]
                      //     },
                      //     options: {
                      //       scales: {
                      //         y: {
                      //           beginAtZero: true,
                      //           scaleLabel: {
                      //             display: true,
                      //             labelString: '里程數：0～12km'
                      //           },
                      //           ticks: {
                      //             suggestedMin: 0,  // Y 軸最小值
                      //             suggestedMax: 12  // Y 軸最大值
                      //           }
                      //         },
                      //         xAxes: [{
                      //           scaleLabel: {
                      //             display: true,
                      //             labelString: '代步車編號'
                      //           }
                      //         }]
                      //       }
                      //     }
                      //   });
                      // });

                    </script>
                    <!-- End Bar CHart -->
                </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12">
              <div class="card" >
                <div class="card-body">
                  <!-- <div class="card-container"> -->
                    <h5 class="card-title">代步車電力消耗折線圖</h5>  
                    <form>
                        <span>代步車編號:</span>
                        <select data-chose="zh-tw" onchange="this.dataset.chose = this.value;">
                          <option selected value="zh-tw">1</option>
                          <option value="zh-cn">2</option>
                          <option value="en">3</option>
                        </select>
                        <div class="info zh-tw-info ">
                          <div>今日電量消耗：620kWh</div>
                          <canvas id="lineChart_1" style="max-height: 500px;" ></canvas>
                        </div>
                        <div class="info zh-cn-info ">
                          <div>今日電量消耗：610kWh</div>
                          <canvas id="lineChart_2"style="max-height: 500px;" ></canvas>
                        </div>
                        <div class="info en-info " >
                          <div>今日電量消耗：810kWh</div>
                          <canvas id="lineChart_3"style="max-height: 500px;" ></canvas>
                        </div>
                    </form>
                  <!-- </div>	 -->
                
                  <!-- Line Chart -->
                  <!-- <canvas id="lineChart" style="max-height: 400px;"></canvas> -->
                  <script>
                    document.addEventListener("DOMContentLoaded", () => {
                      new Chart(document.querySelector('#lineChart_1'), {
                        type: 'line',
                        data: {
                          labels: ['1:00','3:00', '5:00', '7:00','9:00', '11:00', '13:00', '15:00', '17:00', '19:00', '21:00', '23:00'],
                          datasets: [{
                            label: '1',
                            data: [0, 0, 0, 67, 109, 82, 101, 96, 55, 40, 50, 20],
                            fill: false,
                            borderColor: 'rgb(75, 192, 192)',
                            tension: 0.1
                          }]
                        },
                        options: {
                          scales: {  // 設置x軸與y軸
                            x: {
                              beginAtZero: true,// 设置 X 轴从 0 开始
                              display: true,
                              title: {
                                display: true,
                                text: '時間'
                              }
                            },
                            y: {
                              display: true,
                              title: {
                                display: true,
                                text: '電量(kWh)'
                              }
                            }
                          }
                        }
                      });
                    });
                                      
                    document.addEventListener("DOMContentLoaded", () => {
                      new Chart(document.querySelector('#lineChart_2'), {
                        type: 'line',
                        data: {
                          labels: ['1:00','3:00', '5:00', '7:00','9:00', '11:00', '13:00', '15:00', '17:00', '19:00', '21:00', '23:00'],
                          datasets: [{
                            label: '2',
                            data: [0, 0, 0, 87, 159, 182, 121, 76, 35, 50, 60, 22],
                            fill: false,
                            borderColor: 'rgb(124, 12, 192)',
                            tension: 0.1
                          }]
                        },
                        options: {
                          scales:{  // 设置 X 轴与 Y 轴
                            x: {
                                      beginAtZero: true,// 设置 X 轴从 0 开始
                              display: true,
                              title: {
                                display: true,
                                text: '時間'
                              }
                            },
                            y: {
                              display: true,
                              title: {
                                display: true,
                                text: '電量(kWh)'
                              }
                            }
                          }
                        }
                      });
                    });

                    document.addEventListener("DOMContentLoaded", () => {
                      new Chart(document.querySelector('#lineChart_3'), {
                        type: 'line',
                        data: {
                          labels: ['1:00','3:00', '5:00', '7:00','9:00', '11:00', '13:00', '15:00', '17:00', '19:00', '21:00', '23:00'],
                          datasets: [{
                            label: '3',
                            data: [0, 0, 0, 97, 139, 142, 151, 86, 65, 60, 50, 20],
                            fill: false,
                            borderColor: 'rgb(75, 192, 12)',
                            tension: 0.1
                          }]
                        },
                        options: {
                          scales: {  // 设置 X 轴与 Y 轴
                            x: {
                                      beginAtZero: true,// 设置 X 轴从 0 开始
                              display: true,
                              title: {
                                display: true,
                                text: '時間'
                              }
                            },
                            y: {
                              display: true,
                              title: {
                                display: true,
                                text: '電量(kWh)'
                              }
                            }
                          }
                        }
                      });
                    });
                  </script>
                  <!-- End Line CHart -->
    
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="card" >
                <div class="card-body">
                  <h5 class="card-title">旅程清單</h5>
                  <!-- Table with stripped rows -->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">旅程編號</th>
                        <th scope="col">代步車編號</th>
                        <th scope="col">使用者</th>
                        <th scope="col">租借時間</th>
                        <th scope="col">歸還時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>001</td>
                        <td>Brandon Jacob</td>
                        <td>2023-05-25 12:20:13</td>
                        <td>2023-05-25 12:52:56</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>002</td>
                        <td>Bridie Kessler</td>
                        <td>2023-05-25 13:16:20</td>
                        <td>2023-05-25 13:42:56</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>003</td>
                        <td>Ashleigh Langosh</td>
                        <td>2023-05-25 14:06:32</td>
                        <td>2023-05-25 15:12:46</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>004</td>
                        <td>Angus Grady</td>
                        <td>2023-05-25 14:36:26</td>
                        <td>2023-05-25 15:22:06</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>004</td>
                        <td>Raheem Lehner</td>
                        <td>2023-05-25 14:56:58</td>
                        <td>2023-05-25 16:02:14</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
            
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">車輛資訊清單</h5>
                  <!-- Table with stripped rows -->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">車輛識別碼</th>
                        <th scope="col">閘道器序號</th>
                        <th scope="col">更新時間</th>
                        <th scope="col">出廠日期</th>
                        <th scope="col">閘道器MAC位址</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>00981</td>
                        <td>2023-11-1</td>
                        <td>2023-1-1</td>
                        <td>62-1B-F0-EB-26-47</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>00023</td>
                        <td>2023-11-1</td>
                        <td>2023-7-1</td>
                        <td>90-75-E7-BD-22-E5</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>01896</td>
                        <td>2023-10-1</td>
                        <td>2023-7-1</td>
                        <td>AB-42-4C-A9-5B-2D</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>03659</td>
                        <td>2023-11-1</td>
                        <td>2023-7-1</td>
                        <td>C5-93-5B-69-9D-15</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>02583</td>
                        <td>2023-10-1</td>
                        <td>2023-1-1</td>
                        <td>D5-DF-37-9C-50-28</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
    
            </div>
            <div class="col-lg-6">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">使用者資訊清單</h5>
                  <!-- Table with stripped rows -->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">使用者編號</th>
                        <th scope="col">姓名</th>
                        <th scope="col">電話</th>
                        <th scope="col">信箱</th>
                        <th scope="col">資料更新時間</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>姚晏勇</td>
                        <td>0976396115</td>
                        <td>srj64621@gmail.com</td>
                        <td>2023-11-22 12:52:56</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>楊台青</td>
                        <td>0974485238</td>
                        <td>asu79163@gmail.com</td>
                        <td>2023-11-22 13:42:56</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>王俊佑</td>
                        <td>0942045137</td>
                        <td>oho91962@gmail.com</td>
                        <td>2023-11-22 15:12:46</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>何宗儒</td>
                        <td>0979525715</td>
                        <td>npq40722@gmail.com</td>
                        <td>2023-11-22 15:22:06</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>楊佳龍</td>
                        <td>0998753809</td>
                        <td>roa88953@gmail.com</td>
                        <td>2023-11-22 16:02:14</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
    
            
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">站點資訊清單</h5>
                  <!-- Table with stripped rows -->
                  <table class="table table-bordered">
                    <thead>
                      <tr>
                        <th scope="col">站點序號</th>
                        <th scope="col">站點名稱</th>
                        <th scope="col">站點代步車數量</th>
                        <th scope="col">站點座標</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>苗湖</td>
                        <td>9</td>
                        <td>25°02'00.6"N 121°33'50.8"E</td>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>新崙</td>
                        <td>10</td>
                        <td>26°32'09.5"N 122°01'02.9"E</td>
                      </tr>
                      <tr>
                        <th scope="row">3</th>
                        <td>夏峰</td>
                        <td>2</td>
                        <td>25°80'33.5"N 121°48'94.2"E</td>
                      </tr>
                      <tr>
                        <th scope="row">4</th>
                        <td>新壢</td>
                        <td>7</td>
                        <td>24°21'11.5"N 121°14'45.3E</td>
                      </tr>
                      <tr>
                        <th scope="row">5</th>
                        <td>蘭鎮</td>
                        <td>4</td>
                        <td>25°47'76.9"N 121°42'82.3"E</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- End Table with stripped rows -->
    
                </div>
              </div>
    
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">車輛位置即時追蹤</h5>

                  <div id="map" style="height: 600px;"></div>
                  <style>
                    .custom-marker {
                      text-align: center;
                      line-height: 40px;
                      font-size: 16px;
                      color: white;
                    }

                    .marker-icon {
                      width: 20px;
                      height: 20px;
                      border-radius: 50%;
                    }

                  </style>
                  <script type="text/javascript">

                  // 建立 Leaflet 地圖
                  // 初始化地圖
                  // var mymap = L.map('map').setView([51.505, -0.09], 13);
                  // var mymap = L.map('map').setView([22.9997, 120.2270], 13);
                  // *** 放置地圖
                  let zoom = 16; // 0 - 18
                  let center = [22.9984, 120.2179]; // 中心點座標
                  let mymap = L.map('map').setView(center, zoom);
                  
                  // 添加地圖圖層（例如 OpenStreetMap 圖層）
                  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '© OpenStreetMap contributors'
                  }).addTo(mymap);
                  // L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                  //               attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                  //               maxZoom: 18
                  //       }).addTo(mymap);


                  // // 初始化地圖
                  // var mymap = L.map('map').setView([0, 0], 2);

                  // // 加載自己的地圖圖片
                  // var imageUrl = '../static/img/NCKU_map.png';  // 替換為你的圖片路徑
                  // var imageBounds = [[-90, -180], [90, 180]];
                  // L.imageOverlay(imageUrl, imageBounds).addTo(mymap);


                  // 在地圖上添加標記
                  // var marker = L.marker([51.5, -0.09]).addTo(mymap);

                  // 添加標記彈出窗口
                  // 添加標記彈出窗口
                  // marker.bindPopup("<b>Hello world!</b><br>I am a popup.").openPopup();
                  // 定義不同顏色的標記圖標
                  // var redIcon = new L.Icon({
                  //   iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                  //   shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                  //   iconSize: [25, 41],
                  //   iconAnchor: [12, 41],
                  //   popupAnchor: [1, -34],
                  //   shadowSize: [41, 41]
                  // });

                  // var blueIcon = new L.Icon({
                  //   iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
                  //   shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/1.7.1/images/marker-shadow.png',
                  //   iconSize: [25, 41],
                  //   iconAnchor: [12, 41],
                  //   popupAnchor: [1, -34],
                  //   shadowSize: [41, 41]
                  // });
                  

                  var redIcon = L.divIcon({
                    className: 'custom-marker',
                    html: '<div style="background-color: red;" class="marker-icon"></div>'
                  });

                  var blueIcon = L.divIcon({
                    className: 'custom-marker',
                    html: '<div style="background-color: blue;" class="marker-icon"></div>'
                  });


                  // 在地圖上添加標記，使用不同顏色的標記圖標
                  L.marker([22.9986, 120.2191], { icon: redIcon }).addTo(mymap)
                    .bindPopup("使用中");

                  L.marker([22.9984, 120.2175], { icon: redIcon }).addTo(mymap)
                    .bindPopup("使用中");

                  L.marker([22.9989, 120.2183], { icon: redIcon }).addTo(mymap)
                    .bindPopup("使用中");

                  L.marker([22.9999, 120.2179]).addTo(mymap)
                      .bindPopup("<b>A站點</b><br>可借2台車");
                  
                  L.marker([22.9991, 120.2189]).addTo(mymap)
                    .bindPopup("<b>B站點</b><br>可借3台車");
                  
                  // L.marker([22.9998, 120.2203], { icon: blueIcon }).addTo(mymap)
                  //   .bindPopup("閒置中");
                  

                  </script>
                </div>
              </div>
            </div>
          </div>
        </div><!-- End Left side columns -->

        
      </div>
    </section>

  </main><!-- End #main -->

  

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../static/vendor/apexcharts/apexcharts.min.js"></script>
  <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../static/vendor/chart.js/chart.umd.js"></script>
  <script src="../static/vendor/echarts/echarts.min.js"></script>
  <script src="../static/vendor/quill/quill.min.js"></script>
  <script src="../static/vendor/simple-datatables/simple-datatables.js"></script>
  <script src="../static/vendor/tinymce/tinymce.min.js"></script>
  <script src="../static/vendor/php-email-form/validate.js"></script>
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
  integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
  crossorigin=""></script> 

  <!-- Template Main JS File -->
  <script src="../static/js/main.js"></script>
  <!-- map -->
  

</body>

</html>